/* resets */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--primary-text-color: #f8c861ed;
	--card-background-color: #232222;
	--box-color: rgb(59, 57, 60);
	--secondary-text-color: #577592;
	--accent-color: #2294ed;
	--accent-color-dark: #1d69a3;
	--padding-inline-section: 20px;
	--secondary-background-color: #ddd;
}


body {
	font-family: 'popins', sans-serif;
	/* background-color: black;
	background-color: black; */
}

h1 {
	font-size: 3rem;
}

h2 {
	font-size: 2rem;
}

h3 {
	font-size: 1.5rem;
}

p {
	font-family: 'roboto', sans-serif;
	font-size: 1.25rem;
	/* color: var(--secondary-text-color); */
	line-height: 1.8rem;
}


/* top banner */
.top-banner {
	background-image: url();
	background-color: #119ff8;
	background-size: 300px;
	/* background-repeat: no-repeat; */

}

.container {
	max-width: 1180rem;
	margin-inline: auto;
	padding-inline: var(--padding-inline-section);
	padding: 10px;
}


.top-banner-text {
	padding: 15px 30px;
	text-align: center;
	color: var(--primary-text-color);
}


/* navbar  */
.main-nav {
	justify-content: space-between;
	margin-top: 20px;
}

.flex {
	display: flex;
	align-items: center;
}

.logo {
	height: 40px;
	width: 50px;
}

.nav-link ul li {
	list-style: none;

}

.nav-link ul li a {
	text-decoration: none;
	color: black;
	font-size: 1.2rem;
	font-weight: 700px;
}

.nav-link ul li a:hover {
	color: #2294ed;
}

.nav-link ul {
	justify-content: end;
	gap: 40px;
}

.hover-link:hover {
	/* color: var(--secondary-text-color); */
	color: #485df8;
}

.secondary-button {
	border: 0.2px solid var(--secondary-text-color);
	border-radius: 6px;
	padding: 12px 24px;
	/* transition: 02s ease-out; */
	color: black;
}

.primary-button {
	background-color: var(--accent-color);
	border-radius: 6px;
	color: black;
	font-weight: 700;
	color: white !important;
	padding: 12px;
	box-shadow: 0 0 2px var(--secondary-text-color);
}

.primary-button:hover {
	background-color: #485df8;
}

.secondary-button:hover {
	color: rgb(69, 137, 171);
}



/* home or header section */
.header-section {
	justify-content: center;
	gap: 50px;
}

.header-left {
	max-width: 40vw;
}

.get-started-button {
	margin: 20px;
}

.header-right img {
	width: 600px;
}


/* Services section */
.box {
	box-shadow: 0 0 2px var(--secondary-text-color);
	background-color: aliceblue;
	padding: var(--padding-inline-section);
	margin-block: var(--default-margin);
	/* background-color:var(--box-color); */
	border-radius: 10px;
	margin: 5px;
	width: fit-content;
	height: fit-content	;

}

.box a {
	text-decoration: none;
}



/* Contact section */
.h3 {
	/* text-align: center; */
	margin-left: 20px;

}


.container1 {
	align-items: center;
	justify-content: center;
	display: flex;

}

.form {
	text-align: center;
}


.input {
	border-radius: 10px;
	margin: 8px;
	color: lightblue;
	caret-color: white;
	font: weight 700px;
	width: 200px;
	height: 40px;
	border: none;
	outline: none;
	border-bottom: 2px solid #232222;
	background-color: black;
	font-size: 18px;
	box-shadow: 0 0 2px var(--secondary-text-color);
	padding: 10px;
}

.input:hover {
	background-color: rgb(24, 24, 24);
}

::placeholder {
	color: rgb(171, 174, 176);
	/* color: aliceblue; */
}

.submit:hover {
	background-color: rgb(24, 24, 24);
	border-radius: 10px;

}

.mesege {
	width: 68%;
}

.submit {
	width: 20%;
	margin-left: 10px;
	color: rgb(128, 129, 131);
}


.leftcontainer {
	background-color: black;
	height: 450px;
	width: 60%;
	padding-top: 30px;
	width: fit-content;
	height: fit-content;
}

.h31 {
	color: rgb(171, 174, 176);
	font-weight: 700px;
}


/* contact right section */
.rightcontainer {
	background-color: #119ff8;
	height: 450px;
	width: 40%;
	padding: 30px;
	text-align: center;
	width: fit-content;
	height: fit-content;
}

.contact-icons {
	margin-top: 150px;
}

a {
	text-decoration: none;
}

a:hover {
	color: #485df8;
}


/* Footer section start */
.footer {
	height: 170px;
	width: 100%;
	background-color: rgb(30, 29, 29);
	text-align: center;

	color: rgb(128, 129, 131);
	font-size: 16px;
	position: relative;
	padding: 40px;
	
	height: fit-content;

}



/* .home-sci img {
	border-radius: 50%;
	box-shadow: 0px 0px 2px 0px rgba(0, 255, 255, 0.7),
		1px 2px 4px 0px rgba(0, 255, 255, 0.7),
		2px 4px 8px 0px rgba(0, 255, 255, 0.7),
		2px 4px 30px 16px rgba(0, 255, 255, 0.7);
}  */
@media only screen and (max-width: 768px) {
	/* For mobile phones: */
	[box*="col-"] {
	  width: 100%;
	}
  }


