.favicon {
    border-radius: 20px;
}
.brand{
    height: 50px;
    
}
.NAV {
    height: 80px;
    font-size: large;
}

.CARD{
    border-radius: 0%;
    height:250px;
    overflow: hidden;
    /* border:none; */
    display: flex;
    justify-content: center;
    align-items: center;
}
