/* .favicon{
	border-radius: 20px;
}

.nav-height{
	height: 75px;
    background-color: coral;
}
.nav-color{
    color: white;
    background-color: coral;
}
.nav-color:hover{
    color: rgb(224, 211, 211);
}
body{
    background-color: black;
}
.colapse-width{
    width: 100rem;
    float: right;
} */
